<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRM - Login</title>
    <link rel="stylesheet" type="text/css" href="./css/styles.css">
</head>
<body>

    <div class="mainContainer">
        <form method="" action="">
            <div class="form-input img">
                <img class="display-img" src="../img/ProfilePic.jpg">
            </div> 
            
            <div class="form-input title">
                <h1>LOG IN</h1>
            </div>

            <div class="form-input field">
                <input type="text" name="email" placeholder="Email">
            </div>

            <div class="form-input field">
                <input type="password" name="password" placeholder="Password">
            </div>

            <div class="form-input btn">
                <input type="submit" value="Login">
            </div>            

            <div class="form-input">
                <p>Don't have an account? <a href="">Register now</a></p>
            </div>

        </form>
    </div>
    
</body>
</html>